{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management</title>
   <link href="{% static "css/output.css" %}" rel="stylesheet">
</head>
<body class="bg-gray-950 ">

<!-- navber -->
    <div class="flex justify-between items-center  p-8 max-w-[1400px] mx-auto my-4 border-2 border-solid border-black bg-zinc-800 inset-shadow-sm inset-shadow-amber-300">
        <div class="antialiased italic font-bold w-[700px] underline text-2xl text-amber-400 hover:text-teal-400 cursor-pointer">
          <h1>ELLUMINATE</h1>

        </div>
        <div class="flex justify-end  text-xl w-[700px] items-end cursor-pointer">
          <div class="mx-2 text-amber-200 hover:text-teal-100">Home</div>
          <div class="mx-2 text-amber-200 hover:text-teal-100">About</div>
          <a href="{% url 'Dashboard' %}">
            <div class="mx-2 text-amber-200 hover:text-teal-100">Dasboard</div>
          </a>
          <div class="mx-2 text-amber-200 hover:text-teal-100">Contact</div>
            
        </div>

    </div>
    

<!-- img n search bar -->
<div class="relative w-[1400px] mx-auto h-[400px] my-4 ">
<!-- img -->
  <img src="{% static 'images/mainn.jpg' %}" alt="Event Background" class="blur-[1] w-full h-full absolute inset-0 object-cove shadow-amber-400/30 shadow-lg">

<!-- inner body -->
 <div class=" absolute inset-0  flex  flex-col justify-center items-center space-y-5  border-2  border-black border-dashed">
  <!-- text -->
  <h1 class=" font-bold italic
     text-5xl text-slate-950 hover:text-neutral-800 ">Search Your Event Here</h1>
      
     <!-- search bar -->
      <form action="{% url 'search' %}" method="get">
    <div class="   w-[500px] h-10 bg-neutral-300 rounded-2xl shadow-xl/30 mb-1 ">
        <input type="text" placeholder="EVENTS OR LOCATION " name="q" class="outline-none  w-full h-full  px-4 text-slate-950 rounded-2xl">
    </div>

     <!-- button -->
     <button class=" w-[100px] h-10 rounded-2xl inset-shadow-sm 
     inset-shadow-amber-300 bg-neutral-300 text-slate-950 hover:bg-amber-100 cursor-pointer font-medium text-lg">
      Search
    </button>
  </form>
  
</div>
</div>


{% comment %} delete message {% endcomment %}

<div class="flex justify-center items-center mt-4 mb-4">
  <ul class="font-serif text-3xl font-bold text-amber-500">
    {% if messages %}
      {% for message in messages  %}
        {{message}}
      {% endfor %}
    {% endif %}
  </ul>
</div>

<!-- our event -->
<div class="w-[400px] mx-auto my-6 flex justify-center items-center bg-zinc-800 rounded-2xl hover:bg-neutral-900 ">
  <h1 class="font-serif text-3xl font-bold text-amber-500  ">OUR EVENTS</h1>
</div>
  



<!-- card -->
<div class="grid grid-cols-3 gap-6 w-[1400px] mx-auto">

  {% for event in events %}

<div class="w-[400px] h-[450px] my-10 p-4 mx-6 bg-zinc-900 rounded-2xl border-2 border-black shadow-amber-500/30 shadow-lg space-x-5 hover:bg-neutral-800 ">
  <img src="{% static 'images/' %}{{event.id}}.jpg" alt="Event 1" class="w-full h-60 object-cover rounded-2xl mb-4 shadow-amber-400/30 shadow-lg">
  <h2 class="w-full font-serif text-2xl font-bold text-amber-500 ">{{event.name}}</h2>
  <h1 class="w-full font-serif text-lg font-semibold  text-amber-500">Date :{{event.date}}</h1>
  <h1 class="w-full font-serif text-lg font-semibold  text-amber-500 ">Catagory :{{event.catagory}}</h1>

  <a href="{% url 'detail_View' event.id %}">
    <button class="w-[100px] h-8 rounded-2xl inset-shadow-sm  
     inset-shadow-amber-300 bg-neutral-300 text-slate-950 hover:bg-amber-100 cursor-pointer font-serif font-medium text-lg mt-4">
      Details
    </button>
    </a>
</div>

{% endfor %}

</div> 

<!-- card end here -->



<!-- Footer -->
<footer class="bg-zinc-900 text-amber-500 py-6 mt-20">
  <div class="max-w-[1400px] mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8">
    
    <!-- Column 1 -->
    <div>
      <h2 class="text-2xl font-bold font-serif mb-3">Event Management</h2>
      <p class="text-sm text-gray-400">
        Plan, organize, and celebrate your special moments with us.
      </p>
    </div>
    
    <!-- Column 2 -->
    <div>
      <h2 class="text-xl font-bold font-serif mb-3">Quick Links</h2>
      <ul class="space-y-2 text-sm">
        <li><a href="{% url 'homepage' %}" class="hover:text-amber-300">Home</a></li>
        <li><a href="{% url 'create_event' %}" class="hover:text-amber-300">Create Event</a></li>
        <li><a href="{% url 'create_catagory' %}" class="hover:text-amber-300">Create Catagory</a></li>
        <li><a href="{% url 'create-participant' %}" class="hover:text-amber-300">Create Participant</a></li>
        
      </ul>
    </div>
    
    <!-- Column 3 -->
    <div>
      <h2 class="text-xl font-bold font-serif mb-3">Contact Us</h2>
      <p class="text-sm text-gray-400">Dhaka, Bangladesh</p>
      <p class="text-sm text-gray-400">support@events.com</p>
      <p class="text-sm text-gray-400">+880 123 456 789</p>
    </div>
  </div>

  <!-- Bottom -->
  <div class="border-t border-gray-700 mt-6 pt-4 text-center text-gray-400 text-sm">
    © 2025 Event Management. All Rights Reserved.
  </div>
</footer>




   
  

</body>
</html>