{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="w-[400px] mx-auto my-6 bg-zinc-900 rounded-2xl text-center py-3">
    <h1 class="text-3xl font-bold">OUR EVENTS</h1>
</div>

<div class="grid grid-cols-3 gap-6 w-[1400px] mx-auto">

{% for event in events %}
<div class="bg-zinc-900 p-4 rounded-2xl shadow-amber-500/30 shadow-lg hover:bg-neutral-800">

    {% comment %} <img src="{{ event.image.url }}" class="w-full h-60 object-cover rounded-2xl mb-4"> {% endcomment %}
     {% if event.image %}
    <img src="{{ event.image.url }}" class="w-full h-48 object-cover rounded-xl mb-4">
{% else %}
    <img src="{% static 'images/1.jpg' %}" class="w-full h-48 object-cover rounded-xl mb-4">
{% endif %}

    <h2 class="text-2xl font-bold">{{ event.name }}</h2>
    <p>Date: {{ event.date }}</p>
    <p>Category: {{ event.catagory }}</p>

    <div class="flex justify-between mt-4">

        <a href="{% url 'event_detail' event.id %}">
            <button class="bg-neutral-300 text-black px-4 py-1 rounded-xl hover:bg-amber-200">
                Details
            </button>
        </a>

        {% if user.is_authenticated and user.groups.all.0.name == "Participant" %}
        <a href="{% url 'rsvp_event' event.id %}">
            <button class="bg-neutral-300 text-black px-4 py-1 rounded-xl hover:bg-amber-300">
                RSVP
            </button>
        </a>
        {% endif %}

    </div>
</div>
{% endfor %}

</div>

{% endblock %}
